@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;500;600&display=swap');
*{margin: 0; padding: 0px;}

nav{
	background-color: #272122;
	text-align: end;
	padding: 20px;
	justify-content: space-between;
}
h1{
	background-color: #f4f3f2;
	color: #272122;
	font-family: 'Kaushan Script', cursive;
	font-size: 3em;
	text-align: center;
}
h3{
	background-color: #e4dedd;
	color: #272122;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	text-align: left;
}
p{
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 1.3em;
	text-align: justify;
	font-weight: 300;
	line-height: 1.3em;
	padding: 10px;

}
main{
	background-color: #f4f3f2;
	}
.a-menu{
	color: #FFF;
	text-decoration: none;
	font: 1.3em 'Poppins', sans-serif;
	padding: 10px;
}
img{
	width: 100%;
}

.container{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;

}

.card{
	background-color: #e4dedd;
	width: 30%;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #473c3e;
	margin: 40px
}
.img-card{
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.text.card{
	padding: 20px;
	
}
.text.card p{
	color: #FFF;
	font-size: 1em;
	text-align: center;
}

section{
	background-color: #e4dedd;
}
ul{
	margin-left: 100px;
	list-style-type: disc;
	font-size: 23px;
	list-style-position: inside;
}
li{
	font-size: 1em;
	color: #4a4042;
	font-family: 'Poppins', sens-serif;
	line-height: 2em;
	padding-bottom: 10px;
}
a{
	color: #4a4042;

}
#tabela-valores{
	background-color: #e4dedd;
}
.tabela{
	display: flex;
	padding: 10px;
	padding-bottom: 10px;	
	justify-content: center;
}
.imagens{
	padding: 10px;
	width: 100%;

}
.img-tabela{
	border-radius: 10px;

}

#texto-final{
	background-color: #e4dedd;
	text-align: center;
	padding: 20px;
}
#texto-final-link{
	align-items: begin;
	background-color: #f4f3f2;
}

footer{
	background-color: #272122;
	padding: 20px;
}
footer p{
	text-align: center;
	color: #FFF;
	font-size: 1,5em;
}
footer a{
	color: #FFF;
}
footer a:hover{
	color: #3F51B5;
}